@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ+Basic:wght@100..400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: Lilita;
    src: url("../src/assets/Fonts/LilitaOne-Regular.ttf");
}


@import "tailwindcss";

@theme {
    --font-lilita: Lilita, "sans-serif";
    --font-playwright-nz-basic: "Playwrite NZ Basic", "sans-serif", cursive;
    --font-fredoka: "Fredoka", sans-serif;
    --font-nunito: "Nunito", sans-serif;
    --font-poppins: "Poppins", sans-serif;

}

@keyframes softFadeUp {
  0% {
    opacity: 0;
    transform: translateY(25px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.soft-fade-up {
  animation: softFadeUp 1s ease-out forwards;
}

